/* .wrapper {
  display: flex;
  flex-direction: column; */
/* gap:10px; */
/* } */
/* .header-left{
  display: flex;
}
.header-right{
  display: flex;
  float: right;
}
.icon-search{
  position: absolute;
  right: 0;
  padding: 10px;
  background-color: #fff;
}
.search-area {
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
}
.input {
  height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  outline: none;
  width: 100%;
  border: 1px solid #dadada;
}
.container {
}

.header{
  background-color: red;
  height: 100px;
  text-align:center ;
  line-height: 100px;
  position: sticky;
  top: 0;
}

.navbar {
  background-color: rgb(255, 145, 0);
  height: 24px;
  text-align: center;
  line-height: 24px;
}

.main {background-color: rgb(166, 145, 0);
  display: flex;
  flex: 1;
  gap: 8px;
}

.main-left {
  height: 600px;
  background-color: rgb(0, 255, 0);
  flex: 1;
}

.main-content {
  flex: 3;
  background-color: rgb(0, 132, 255);
}

.main-right {
  flex: 1;
  background-color: rgb(255, 0, 187);
}

.footer {
  height: 56px;
  text-align: center;
  line-height: 56px;
  background-color: rgb(255, 0, 0);
}


.header {
}
.logo {
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(162, 237, 237);
  padding: 0 14px;
  height: 56px;
}
.header-left {
  display: flex;
  gap: 10px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-facebook {
  font-size: 36px;
  color: #0866ff;
}

.search-area {
  position: relative;
  display: flex;
  align-items: center;
}
.input-search {
  width: 350px;
}
.icon-search {
  position: absolute;
  right: 0;
  padding: 10px;
}

.header-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  width: 300px;
  height: 36px;
}
.icon-mess {
  color: #0866ff;
  position: relative;
}

.count-mess {
  font-size: 8px;
  position: absolute;
  color: #fff;
  background-color: red;
  padding: 2px 8px;
  border-radius: 10px;
  right: -13px;
  top: -5px;
}
.icon-bell {
  color: #0866ff;
  position: relative;
}
.count-bell {
  font-size: 8px;
  position: absolute;
  color: #fff;
  background-color: red;
  padding: 2px 8px;
  border-radius: 10px;
  right: -13px;
  top: -5px;
}
.text-gray {
  color: #a9a2a2;
}

.icon-down {
  position: relative;
}

.list-option {
  position: absolute;
  top: 0;
  right: 0;
  width: 170px;
  display: none;
  background-color: #fff;
  border-radius: 4px;
}

.option {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  padding: 10px;
}

.icon-down:hover .list-option {
  display: block;
}
.list-option::after {
  content: "";
  border-bottom: 10px solid #a9a2a2;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  top: -10px;
  right: 7px;
}
.list-option.option {
  padding: 8px 16px;
}

.list-option.option:hover {
  background-color: #dadada;
}
